# test code
test-code/

# histories
logs/
socket/
.idea/

# deployments
platform/api-server/deployed-apps/
platform/app-manager/executables/
platform/device-manager/handlers/lab11-ble-handler/cached_parsers.json
platform/device-manager/handlers/lab11-ble-handler/cached_urls.json

# data files
platform/dao/data/

# configuration files
platform/utils/config.json

# npm package related
package-lock.json
node_modules/

# Mac files
.DS_Store