[Unit]
Description=Send a heartbeat every 5 minutes from a NexusEdge gateway
After=network-online.target linklab-influxdb-publisher.service

[Service]
ExecStart=/usr/bin/node /root/on-the-edge/platform/utils/send-heartbeat.js
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=nexusedge-heartbeat

[Install]
WantedBy=multi-user.target
