[Unit]
Description=Send an email when a NexusEdge gateway reboots
After=network-online.target

[Service]
ExecStart=/usr/bin/node /root/on-the-edge/scripts/email-script.sh
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=nexusedge-email

[Install]
WantedBy=multi-user.target